<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.online_exam.mapper.UserExerciseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.you.online_exam.entity.UserExercise">
        <id column="User_id" property="userId" />
        <result column="exerciseCollection_id" property="exercisecollectionId" />
    </resultMap>

</mapper>
